/* Full plugin options to customize the spinner/picker. */

/* {

    // initial option on page load
    index: 0,
  
    // animation speed
    animation_speed: 10,
  
    // step size
    animation_steps: 5,
  
    // text color
    font_color: "#000000",
  
    // text color of selected option
    selection_color: "#000000",
  
    // font style
    font: "Arial", 
  
    // enable/disable interactions
    onclick: true, 
    ondblclick: true,
    onkeydown: true,
    onwheel: true,
    ontouchmove: true,
    onresize: true 
    
  } */